/*@font-face {*/
/*    font-family: nova;*/
/*    src: url(../font/NovaRound-Regular.ttf);*/
/*}*/

* {
    font-family: 'Poppins', sans-serif;
    transition: .5s;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
.text-center {
    text-align: center;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
body {
    background-color: #161f2b;
    min-height: 150vh;
}
/* START Landing Screen*/
.parallax {
    background-color: #161f2b;
    height: 100vh;
    background-attachment: fixed;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 70% 100%;
    margin: 0;
}
.page-container {
    min-height: 100vh;
}
.standard-width {
    width: 1400px;
    margin: auto;
}
.hackberry-blurb {
    position: relative;
    top: 30%;
    transform: translateY(-50%);
    color: #cc1937;
    opacity: 0;
    z-index: 1;
}
.hackberry-blurb h1 {
    font-size: 128px;
}
.landing h3 {
    font-size: 43px;
}
.standard-width.dev {
    position: relative;
    top: 28%;
    transform: translateY(-50%);
}
.standard-width.design {
    top: 38%;
    position: relative;
    transform: translateY(-50%);
    z-index: 10;
}
.standard-width.seo {
    top: 48%;
    position: relative;
    transform: translateY(-50%);
    z-index: 10;
}
.landing h2 {
    display: inline-block;
}
.floating-text h2 {
    border: 4px solid #6e2732;
    padding: 8px 8px;
    min-width: 287px;
    text-align: center;
    font-size: 25px;
    color: #cc1937;
}
h2.web-design {
    position: relative;
}
h2.seo-expert {
    position: relative;
}
.floating-text {
    /*opacity: 0;*/
}
.screen {
    background-color: #161f2b;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
}
.overflow {
    overflow: hidden;
}
.slide-up {
    transform: translateY(100%);
}
.slide-up-center-y {
    transform: translate(-50%, 100%);
}

.hackberry-tag {
    transform: translateY(-40%);
}
.landing-image-container {
    position: absolute;
    width: 70.4%;
    height: 100vh;
    top: 0;
    left: 29.6%;
}
.landing-image-container img {
    width: 100%;
    height: 100%;
    transform: translateY(5%);
    opacity: 0;
}
h2.slide-up-center-y {
    transform: translate(-50%, 100%);
}
/*END Landing screen*/
/*Start Contact*/
.contact {
    font-size: 48px;
    color: #cc1937;
    margin: 100px 0 100px 0;
}
.form-item-container {
    border-bottom: 1px solid #3a3738;
    margin-bottom: 95px;
    position: relative;
    box-sizing: border-box;
}
input.standard-input {
    width: 100%;
    background-color: #161f2b;
    border: none;
    color: #cc1937;
    font-size: 35px;
    padding: 0 16px;
    position: relative;
}
textarea.standard-textarea {
    background-color: #161f2b;
    border: none;
    color: #cc1937;
    font-size: 35px;
    resize: none;
    padding: 16px;
    width: 100%;
    box-sizing: border-box;
}
textarea.standard-textarea:focus {
    outline: none;
}
input:focus {
    outline: none;
}
.full-border {
    border: 1px solid #3a3738;
}
.slide-left-on-click {
    position: absolute;

}
.contact-name {
    font-size: 35px;
    padding-left: 16px;
}
.contact-form p {
    color: #757575;
    top: 0;
    transition: .3s;
}
/*End Contact*/
/*footer*/
footer {
    min-height: 500px;
}
/*end footer*/




















