@font-face {
    font-family: nova;
    src: url(../font/NovaRound-Regular.ttf);
}

* {
    font-family: nova;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
.parallax {
    background-image: url(../imgs/moon.jpg);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
.page-container {
    min-height: 100vh;
}
.standard-width {
    width: 1400px;
    margin: auto;
}
.landing.parallax .hackberry-blurb {
    position: relative;
    top: 30%;
    transform: translateY(-100%);
    color: #cc1937;
}
.hackberry-blurb {
    position: relative;
    top: 30%;
    transform: translateY(-100%);
    color: #cc1937;
}
.hackberry-blurb h1 {
    font-size: 79px;
}
.standard-width h2 {
    display: inline-block;
}
.standard-width.dev {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}
.standard-width.design {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}
.standard-width.seo {
    top: 60%;
    position: relative;
    transform: translateY(-50%);
}
.standard-width h2 {
    display: inline-block;
}